.cabecalho{
width: 360px;
height: 94px;
background-color: rgb(11, 131, 243);

}
.primeira_secao{
     width: 360px;
     height: 225px;
     background-color: rgb(53, 241, 241);
     display: flex;
     flex-direction: row;
     justify-self: space-between;
}

.retangulo{
    width: 76px;
    height: 145px;
    background-color: rgb(255, 255, 255);
}

.segunda_secao{
    width: 360px;
    height: 251px;
    background-color: rgb(233, 15, 167);
}

.terceira_secao{
    width: 360px;
    height: 185px;
    background-color: rgb(197, 15, 233);
}